/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
/assets/.sass-cache/*
*.DS_Store
/assets/bower_components/*
/assets/stylesheets/app.css
/static/ZeroClipboard.swf
