<!-- -*- mode: html -*- -->

    <div class="row">
      <div class="large-12 columns">
        <h1>Catscope</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
	<ul id="js-filelist" data-path="/">
	</ul>
      </div>
    </div>
